# server
SERVER_NODE_ENV=development
SERVER_PORT=4000
SERVER_GLOBAL_PREFIX=api

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:4001,http://localhost:4100

# database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=company_web
DB_USER=root
DB_PASSWORD=
DB_TYPE=mariadb
DB_SYNCHRONIZE=false
DB_LOGGING=false

# jwt
JWT_ACCESS_SECRET=change_access_secret
JWT_REFRESH_SECRET=change_refresh_secret
JWT_ACCESS_EXPIRES_IN=2h
JWT_REFRESH_EXPIRES_IN=7d

# upload
UPLOAD_DIR=uploads
UPLOAD_BASE_URL=http://localhost:4000/uploads
